<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tela Inicial</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("images/FolhaFácil.png"); /* Substitua 'imagem_de_fundo.jpg' pelo nome da sua imagem de fundo */
            background-size: center;
            background-position: center;
            background-attachment: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

        #poste {
            position: absolute;
            width: 30%; /* Ajuste o tamanho do poste conforme necessário */
            left: 25%; /* Posicione o poste horizontalmente conforme necessário */
            bottom: 0;
        }

        
    </style>
</head>
<body>
   
</body>
</html>
