<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Campanha de Feliz Dia dos Funcionários</title>
    <link rel="stylesheet" type="text/css" href="estilos.css" />
</head>
<body>
    <header>
        <h1>Bem Vindo Funcionários!</h1>
    </header>
    <nav>
      
    </nav>
    <main>
        <section class="campanha">
            <h2>Campanha Especial</h2>
            <p>
                Neste Dia dos Funcionários, queremos expressar nossa gratidão por todo o seu trabalho árduo e dedicação. Vocês são o coração da nossa organização e fazem a diferença todos os dias.
            </p>
            <p>
                Para comemorar este dia especial, teremos um almoço especial no escritório e uma pequena lembrança para todos os funcionários. Agradecemos a todos vocês por fazerem parte da nossa equipe!
            </p>
            <p>
                Lembre-se de que vocês são valorizados e essenciais para o nosso sucesso. Esperamos que tenham um Dia dos Funcionários incrível!
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 FolhaFácil . Todos os direitos reservados.</p>
    </footer>
</body>
</html>
